<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login Page</h1>
    <form action="/users/login" method="POST">
      <div>
        <label for="email"><b>E-mail</b></label>
        <input type="email" placeholder="Type in your email" name="email" required/>
      </div>
      <div>
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Type in the password" 
        pattern=".{6,}" title="Must contain at least 6 or more characters!" name="password" required/>
      </div>
      <div>
        <button type="submit" style="background-color: cornflowerblue;">Login</button>
      </div>
    </form>
  </body>
</html>